<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid"> 
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-mobile" aria-controls="nav-mobile" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="nav-mobile" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active link-light" aria-current="page" href="/" data-bs-toggle="tooltip" data-bs-title="Home"><i class="bi bi-house-fill"></i></a>
        </li> 
        <li class="nav-item"><a class="nav-link link-light" href="/inserisci-ricetta" data-bs-toggle="tooltip" title="New Recipe"><i class="bi bi-egg-fried"></i></a></li> 
        <li class="nav-item"><a class="nav-link link-light" href="/login" data-bs-toggle="tooltip" title="Login"><i class="bi bi-person-circle"></i></a></li> 
        <li class="nav-item"><a class="nav-link link-light" href="/logout" data-bs-toggle="tooltip" title="Logout"><i class="bi bi-door-open-fill"></i></a></li>
      </ul>
     </div>
    </div>
  </nav>
 