<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-4">Nuova ricetta</h3>
                <form action="/nuovaricetta" method="POST">
                    <div>
                        <label for="titolo">inserisci il nome della ricetta</label>
                        <input type="text" name="titolo" id="titolo">
                    </div>
                    <div>
                        <label for="procedimento">descrizione procedimento</label>
                        <textarea name="howto" id="procedimento" cols="30" rows="10"></textarea>
                    </div>
                    <div>
                        <label for="ingredienti">ingredienti</label>
                        <textarea name="ingredienti" id="ingredienti" cols="30" rows="10"></textarea>
                    </div> 
                    <div>
                        <label for="file-url">indirizzo immagine</label>
                        <input type="text" name="urlimg" id="file-url">
                    </div>
                    <button type="submit" class="btn btn-outline-success">inserisci ricetta</button>
                    <button type="button" onclick="window.location.href='/'" class="btn btn-outline-danger">annulla</button>
                </form>
            </div>
        </div>
    </div>
</main>
    <%- include('../partials/footer') %>
</body>
</html>