<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<main>
    <div class="container">
        <h3>Nuova ricetta</h3>
        <form action="/nuovaricettafoto" enctype="multipart/form-data" method="POST">
            <div>
                <label for="titolo">inserisci il nome della ricetta</label>
                <input type="text" name="titolo" id="titolo">
            </div>
            <div>
                <label for="procedimento">descrizione procedimento</label>
                <textarea name="howto" id="procedimento" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="ingredienti">ingredienti</label>
                <textarea name="ingredienti" id="ingredienti" cols="30" rows="10"></textarea>
            </div> 
            <div>
                <input type="file" name="avatar">
            </div>
            <button type="submit">inserisci ricetta</button>
            <button type="reset">cancella</button>
        </form>
    </div>
</main>
    <%- include('../partials/footer') %>
</body>
</html>