<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
<div class="container">
        <section class="prompt"> 
			<h1>Sign up</h1>
			<form action="/signup" method="post">
				<section>
					<label for="username">Username</label>
					<input id="username" name="username" type="text" autocomplete="username" required>
				</section>
				<section>
					<label for="new-password">Password</label>
					<input id="new-password" name="password" type="password" autocomplete="new-password" required>
				</section> 
				<section>
					<label for="email-id">email</label>
					<input type="email" id="email-id" name="email">
				</section>
				<button type="submit">Sign up</button>
			</form>
			<hr>
			<p class="help">Already have an account? <a href="/login">Sign in</a></p>
		</section>
	</div>


    </main>
    <%- include('../partials/footer') %>
</body>
</html>        